<%= form_with(model: slot) do |form| %>
  <% if slot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
        <% slot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "User email: ", style: "display: block" %>
    <%= current_user.email%>
  </div>
  <br/>

  <div>
    <%= form.label "User name ", style: "display: block"%>
    <%= current_user.name%>
  </div>
  <br/>

  <div>
    <%= form.label "User Contact ", style: "display: block" %>
    <%= current_user.phoneno%>
  </div>
  <br/>

  <div>
    <%= form.label "Package Name: ", style: "display: block" %>
    <%= @current_trippackage.package_name %>
  </div>
  <br/>

  <div>
    <%= form.label "Package id ", style: "display: block" %>
    <%= @current_trippackage.id%>
  </div>
  <br/>

  <div>
    <%= form.label :bookingtime, style: "display: block" %>
    <%= form.datetime_field :bookingtime %>
  </div>
  <br/>

  <%# <%= form.hidden_field :id, value:@package.id%>


  <div>
    <%= form.submit "Confirm Booking" %>
  </div>
  <br/>

<% end %>
