<%= render 'home/header' %>
<h1 style="text-align:center">Home#index</h1>
<p style="text-align:center">Homepage</p>

<div class="container" >
    <h3 style="text-align:center">Ready to book your trip?</h3>
</div>



<div class="container">
  <h2 class="packages">Packages</h2>
  <br/>
  <div class="row row-cols-1 row-cols-md-4 g-4">
  <% Trippackage.all.each do |package|%>
  <div class="col">
<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="text-align:center"><%=package.package_name%></h5>
    <p class="card-text"><%=package.description%></p>
        <p class="card-text">Destination: <%=package.destination%></p>
    <p class="card-text"><small class="text-body-secondary"><%=package.departure %> to <%=package.arrival%></small></p>
  </div>
    <%# <%=package.id%>
    <%= link_to 'Book Package', new_slot_path(id:package.id, user_id:current_user.id) , class:'btn btn-success' %>
</div>
</div>
<%end%>
</div>
</div>
<br/>
<br/>
  <h2>FAQs</h2>
<div class="container">
  <p>
  <a class="btn btn-info dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
    What does a typical travel package include?
  </a>
</p>
<div class="collapse" id="collapseExample1">
  <div class="card card-body">
    Our travel packages typically include round-trip flights, accommodations, airport transfers, and a variety of activities or tours specific to the destination. Each package may vary, so be sure to check the detailed itinerary for specific inclusions.
  </div>
  <br/>
</div>

<p>
<a class="btn btn-info dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
  Can I customize my travel package?
</a>
</p>
<div class="collapse" id="collapseExample2">
<div class="card card-body">
  Yes, we offer the flexibility to customize your travel package according to your preferences. You can select alternative accommodations, add or remove activities, extend your stay, or even combine multiple destinations. Simply reach out to our customer support team, and they will assist you in creating a personalized package.
</div>
<br/>
</div>

<p>
<a class="btn btn-info dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
  What is the cancellation and refund policy for travel packages?
</a>
</p>
<div class="collapse" id="collapseExample3">
<div class="card card-body">
  Our cancellation and refund policy may vary depending on the specific package and its suppliers. We recommend reviewing the terms and conditions provided during the booking process. In general, cancellations made within a certain timeframe may incur a cancellation fee, while cancellations made well in advance may be eligible for a partial or full refund.
</div>
<br/>
</div>

<p>
<a class="btn btn-info dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
  How do I receive my travel documents and itinerary?
</a>
</p>
<div class="collapse" id="collapseExample4">
<div class="card card-body">
  Once you have completed your booking, you will receive a confirmation email containing your travel itinerary and relevant details. In most cases, you will also have access to an online portal where you can view and download your travel documents, including e-tickets, hotel vouchers, and any additional information related to your package.
</div>
<br/>
</div>

<p>
<a class="btn btn-info dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
  What happens if there are changes or disruptions to my travel plans?
</a>
</p>
<div class="collapse" id="collapseExample5">
<div class="card card-body">
  In the event of any changes or disruptions to your travel plans, such as flight delays, cancellations, or changes in accommodations, our dedicated support team is available to assist you. We will work with our partners and suppliers to find suitable alternatives or make necessary arrangements to minimize any inconvenience caused during your trip.
</div>
<br/>
</div>

  </div>
  <%= render 'partials/footer' %>
