<%= render 'home/header' %>

<br/><br/>

<%# <%= link_to image_tag('login_backg1.jpg'), class:"card-img-top" %>



    <!--Carousel-->

    <div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>


  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= link_to image_tag('mumbai1.jpg', size: "1350x300"), class:"card-img-top" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>MUMBAI</h5>
        <p>Unveil the Magical Charms of Mumbai- The Gateway to Boundless Experiences.</p>
      </div>
    </div>
    <div class="carousel-item ">
      <%= link_to image_tag('Mudumalai.jpg', size: "1300x300"), class:"card-img-top" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>MASINAGUDI</h5>
        <p>Witness the beauty of Mudumalai National Park's secluded area.</p>
      </div>
    </div>
    <div class="carousel-item ">
      <%= link_to image_tag('kodaikanal1.jpg', size: "1300x300"), class:"card-img-top" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>KODAIKANAL</h5>
        <p>A go-to hill station for your perfect summer getaway!</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('beach_backg.jpg', size: "1350x300"), class:"card-img-top" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>MANGALORE...</h5>
        <p>Witness the calmness of the beach meet some fiery sunsets.</p>
      </div>
    </div>
    <div class="carousel-item ">
      <%= link_to image_tag('mys2.jpg', size: "1300x300"), class:"card-img-top" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>MYSORE</h5>
        <p>Feel the regal vibes of the beautiful heritage city.</p>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <!--Carousel ends-->
    <!--Start of Searchbar box-->
    <div class="card mb-3" style="background-color:	#f0f0f0" >
      <div class="card-body">
    <h3 class="card-title" style="text-align:center">Excited to book your trip?</h3>
    <br/>
    <div class="container text-center">
  <div class="row row-cols-4">
    <div class="col">
      <div class="btn-group dropdown">
<button type="button" class="btn btn-secondary">
  From
</button>
    <select class="btn btn-secondary" style="background-color:	#004d99;" data-bs-theme="dark">
        <option value="0">Select Location</option>
        <option value="Mys">Mysore</option>
        <option value="Blr">Bangalore</option>
        <option value="Mlr">Mangalore</option>
        <option value="Dlh">Delhi</option>
        <option value="Mum">Mumbai</option>
    </select>

</div>
    </div>
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary">
          To
        </button>
        <select class="btn btn-secondary" style="background-color:	#004d99;" data-bs-theme="dark">
            <option value="0">Select Location</option>
            <option value="Mys">Mysore</option>
            <option value="Blr">Bangalore</option>
            <option value="Mlr">Mangalore</option>
            <option value="Dlh">Delhi</option>
            <option value="Mum">Mumbai</option>
        </select>
</div>
</div>
    <div class="col">
      <label class="btn btn-secondary" style="background-color:	#004d99;" >Departure</label>
      <input type="date" id="departure" name="departure">
    </div>
    <div class="col">
        <label class="btn btn-secondary" style="background-color:	#004d99;" >Arrival</label>
      <input type="date" id="arrival" name="arrival"></div>
  </div>
  <br/>

  <button type="button" class="btn btn-outline-success">Search</button>
</div>
    </div>
</div>


<!-- End of Searchbar box -->

<div class="container">
  <h2 class="packages">Packages</h2>
  <br/>
  <div class="row row-cols-1 row-cols-md-4 g-4">
  <% Trippackage.all.each do |package|%>
  <div class="col">
<div class="card">
  <%= link_to image_tag('mys.jpg',size: "298x250"), class:"card-img"%>
  <div class="card-body">
    <h5 class="card-title" style="text-align:center"><%=package.package_name%></h5>
    <p class="card-text"><%=package.description%></p>
        <p class="card-text">Destination: <%=package.destination%></p>
    <p class="card-text"><small class="text-body-secondary"><%=package.departure %> to <%=package.arrival%></small></p>
  </div>
    <%# <%=package.id%>
    <%= link_to 'Book Package', new_slot_path(user_id:current_user.id, id:package.id) , class:'btn btn-success',  style:"background-color:#004d99;" %>
</div>
</div>
<%end%>
</div>
</div>
<br/>
<br/>

<div class="card" style="background-color:	#66CDAA	;">
  <h2 style="text-align:center">FAQs</h2>
<div class="container">
  <p>
  <a class="btn btn btn-outline-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
    <b>What does a typical travel package include?</b>
  </a>
</p>
<div class="collapse" id="collapseExample1">
  <div class="card card-body">
    Our travel packages typically include round-trip flights, accommodations, airport transfers, and a variety of activities or tours specific to the destination. Each package may vary, so be sure to check the detailed itinerary for specific inclusions.
  </div>
  <br/>
</div>

<p>
<a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
  <b>Can I customize my travel package?</b>
</a>
</p>
<div class="collapse" id="collapseExample2">
<div class="card card-body">
  Yes, we offer the flexibility to customize your travel package according to your preferences. You can select alternative accommodations, add or remove activities, extend your stay, or even combine multiple destinations. Simply reach out to our customer support team, and they will assist you in creating a personalized package.
</div>
<br/>
</div>

<p>
<a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
  <b>What is the cancellation and refund policy for travel packages?</b>
</a>
</p>
<div class="collapse" id="collapseExample3">
<div class="card card-body">
  Our cancellation and refund policy may vary depending on the specific package and its suppliers. We recommend reviewing the terms and conditions provided during the booking process. In general, cancellations made within a certain timeframe may incur a cancellation fee, while cancellations made well in advance may be eligible for a partial or full refund.
</div>
<br/>
</div>

<p>
<a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
  <b>How do I receive my travel documents and itinerary?</b>
</a>
</p>
<div class="collapse" id="collapseExample4">
<div class="card card-body">
  Once you have completed your booking, you will receive a confirmation email containing your travel itinerary and relevant details. In most cases, you will also have access to an online portal where you can view and download your travel documents, including e-tickets, hotel vouchers, and any additional information related to your package.
</div>
<br/>
</div>

<p>
<a class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
  <b>What happens if there are changes or disruptions to my travel plans?</b>
</a>
</p>
<div class="collapse" id="collapseExample5">
<div class="card card-body">
  In the event of any changes or disruptions to your travel plans, such as flight delays, cancellations, or changes in accommodations, our dedicated support team is available to assist you. We will work with our partners and suppliers to find suitable alternatives or make necessary arrangements to minimize any inconvenience caused during your trip.
</div>
<br/>
</div>
  </div>
  </div>
<br/><br/>

  <%= render 'partials/footer' %>
