<%= form_with(model: feedback) do |form| %>
  <% if feedback.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.number_field :rate %>
  </div>

  <div>
    <%= form.label :descr, style: "display: block" %>
    <%= form.text_area :descr %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
