<div id="<%= dom_id trippackage %>">
  <p>
    <strong>Package name:</strong>
    <%= trippackage.package_name %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= trippackage.destination %>
  </p>

  <p>
    <strong>Departure:</strong>
    <%= trippackage.departure %>
  </p>

  <p>
    <strong>Arrival:</strong>
    <%= trippackage.arrival %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= trippackage.budget %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= trippackage.description %>
  </p>

</div>
