<p style="color: green"><%= notice %></p>

<%= render @trippackage %>

<div>
  <%= link_to "Edit this trippackage", edit_trippackage_path(@trippackage) %> |
  <%= link_to "Back to trippackages", trippackages_path %>

  <%= button_to "Destroy this trippackage", @trippackage, method: :delete %>
</div>
